html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  width: 100vw;
}

.navbar {
  height: 100%; /* 100% Full-height */
  width: 200px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 815px) {
  .navbar {
    display: none;
  }
}

.navbar a {
  text-decoration: none;
  font-size: 20px;
  display: block;
  transition: 0.3s;
  padding: 25px;
  text-align: center;
  color: #e7e7e7;
}

.navbar a:hover {
  transition: 0.2s;
  transform: translateY(-6px);
}

.navbar ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-top: 50px;
}

.navbar h4 {
  font-size: 22px;
  font-weight: 400;
  color: #e7e7e7;
  margin: 15px;
  text-align: center;
}

.nav_profile {
  border-radius: 50%;
  width: 150px;
  border: 5px solid grey;
}

#main {
  margin-left: 200px;
}

#menu {
  height: 70px;
  width: 100%;
  background-color: #111;
  display: none;
  z-index: 1;
}

#menu-button {
  font-size: 25px;
  padding: 3px 15px;
  letter-spacing: 3px;
  border-radius: 6px;
  background-color: transparent;
  color: #e7e7e7;
  box-shadow: 3px 3px 3px grey;
  margin-top: 15px;
  margin-left: 40px;
  transition-duration: 0.2s;
}

#menu-button:hover {
  background-color: #e7e7e7;
  color: #111;
}

#slide-menu {
  display: none;
  position: fixed;
  background-color: #111;
  list-style-type: none;
  margin-top: 70px;
  margin-left: 40px;
  width: 200px;
}

#slide-ul {
  list-style-type: none;
  margin-top: 20px;
}

#slide-ul li {
  color: #e7e7e7;
  padding: 20px;
  font-size: 20px;
}

#slide-ul a {
  text-decoration: none;
}

#resume-button {
  position: absolute;
  right: 250px;
  top: 30px;
  background-color: rgba(0, 0, 0, 0.137);
  color: #e7e7e7;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 15px;
  box-shadow: 3px 3px 3px grey;
  transition-duration: 0.2s;
}

#resume-button:hover {
  background-color: #e7e7e7;
  color: #111;
}

#work-button {
  position: absolute;
  right: 100px;
  top: 30px;
  background-color: rgba(0, 0, 0, 0.137);
  color: #e7e7e7;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 15px;
  box-shadow: 3px 3px 3px grey;
  transition-duration: 0.2s;
}

#work-button:hover {
  background-color: #e7e7e7;
  color: #111;
}

@media screen and (max-width: 815px) {
  #main {
    margin-left: 0;
  }
  #resume-button {
    display: none;
  }
  #work-button {
    display: none;
  }
  #menu {
    display: block;
    position: fixed;
  }
  #slide-menu {
    display: block;
  }
}

#home-page {
  background-image: linear-gradient(
      to bottom,
      rgba(92, 97, 124, 0.85),
      rgba(51, 51, 51, 0.85)
    ),
    url("https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  top: 0;
  z-index: 1;
  text-align: center;
}

h1 {
  margin: 0 auto;
  color: white;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 2px;
}

.subtitle {
  color: white;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 3px;
}

#about {
  display: flex;
  justify-content: space-around;
  height: 750px;
  background-color: #f5f5f5;
}

@media screen and (max-width: 1150px) {
  #about {
    display: block;
    height: auto;
  }
  #about-me {
    margin: 0 auto;
    padding: 35px 0px 0px 0px;
  }
}

#about-me {
  width: 65%;
  padding: 35px 0px 0px 35px;
  font-size: 20px;
}

#medium-anchor {
  text-decoration: none;
  color: #b114ff;
  transition: 0.3s;
}

#medium-anchor:hover {
  color: #7300ad;
}

#about-blurb {
  text-align: justify;
}

.icon-heading {
  opacity: 0%;
  position: absolute;
  background-color: #2600ff96;
  color: antiquewhite;
  padding: 4px;
  border-radius: 4px;
  font-size: 0.8em;
  transition: 0.6s;
}

.icons:hover > .icon-heading {
  opacity: 100%;
}

#html-heading {
  transform: translate(17px, -30px);
}

#css-heading {
  transform: translate(27px, -30px);
}

#javascript-heading {
  transform: translate(0px, -30px);
}

#node-heading {
  transform: translate(15px, -30px);
}

#bootstrap-heading {
  transform: translate(-5px, -30px);
}
#mongo-heading {
  transform: translate(-5px, -30px);
}
#git-heading {
  transform: translate(30px, -30px);
}
#github-heading {
  transform: translate(12px, -30px);
}

address {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  margin-right: 0px;
}

.contact-info {
  padding: 30px 0px 15px 0px;
}

@media screen and (max-width: 850px) {
  address {
    flex-direction: column;
  }
  .contact-info {
    padding: 10px 0;
  }
}

.contact-heading {
  font-weight: 700;
}

#skills {
  width: 35%;
  padding: 35px 50px 50px 50px;
  font-size: 25px;
}

#skills-border {
  border-left: 2px solid #c8c8c8;
  bottom: 0;
}

#skills-heading {
  margin-left: 45px;
}

.icon_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 40px;
  margin: 0 40px;
}

.icons {
  padding: 10px;
}

@media screen and (max-width: 1465px) {
  .icon_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
    margin: 0px 25px;
  }
}

@media screen and (max-width: 1150px) {
  #skills {
    margin: 0 auto;
    /* width: 500px; */
    font-size: 20px;
    height: 700px;
    width: 500px;
    padding: 0px;
  }
  #skills-heading {
    margin-left: 0px;
  }
  #skills-border {
    border-left: none;
    border-top: 2px solid #c8c8c8;
    bottom: 0;
  }
  .icons {
    padding: 15px;
  }
  #about-me {
    width: 65%;
    padding: 35px 0px 35px 35px;
  }
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 25px;
}

ul {
  list-style-type: none;
}

#portfolio {
  padding: 50px;
}

#projects {
  display: flex;
  justify-content: space-around;

  height: auto;
  background-color: white;
  text-align: center;
  flex-wrap: wrap;
}

#contact {
  height: 400px;
  background-color: #f5f5f5;
  padding: 50px 50px 150px 50px;
}

#project1,
#project2,
#project3 {
  width: 1000px;
  height: 335px;
  margin-bottom: 50px;
  display: flex;
  /* flex-wrap: wrap; */

  align-items: flex-start;
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
}

#project1_blurb,
#project2_blurb,
#project3_blurb {
  height: 335px;
  max-width: 350px;
  text-align: justify;
}

#golf-weather-app {
  height: 300px;
}

#golf-image {
  background: url("/images/golf-weather\ screenshot.png") no-repeat;
  background-size: 600px 280px;
  width: 600px;
  height: 280px;
  object-fit: cover;
  overflow: hidden;
  background-blend-mode: soft-light;
  transition: 0.3s;
  padding-right: 50px;
}

#bodyfat-app {
  height: 300px;
}

#web-scraper-app {
  height: 300px;
}

#bodyfat-image {
  background: url("/images/bodyfat-calculator\ screenshot.png") no-repeat;
  background-size: 600px 280px;
  width: 600px;
  height: 280px;
  object-fit: cover;
  overflow: hidden;
  background-blend-mode: soft-light;
  transition: 0.3s;
  padding-right: 50px;
}

#web-scraper-image {
  background: url("/images/webscraper-screenshot.png") no-repeat;
  background-size: 600px 280px;
  width: 550px;
  height: 280px;
  object-fit: cover;
  overflow: hidden;
  background-blend-mode: soft-light;
  transition: 0.3s;
  padding-right: 50px;
  border: 0.5px solid rgba(126, 126, 126, 0.445);
  margin-right: 50px;
}

#golf-image,
#bodyfat-image,
#web-scraper-image {
  margin-top: 8px;
}

.project_blurbs {
  font-size: 20px;
  text-align: left;
  margin-top: 0;
}

.project-heading {
  color: antiquewhite;
  font-size: 20px;
}

.projectBtns {
  background-color: rgba(76, 88, 156, 0.205);
  color: #3d3d3d;
  padding: 6px 12px;
  margin-right: 20px;
  border-radius: 3px;
  transition: 0.3s;
  font-weight: bold;
  border-color: rgba(43, 48, 71, 0.445);
}

.projectBtns:hover {
  background-color: rgba(43, 48, 71, 0.904);
  color: #f3f3f3;
}

@media screen and (max-width: 1200px) {
  .projectBtns {
    margin: auto;
  }
  #project1 {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    height: 510px;
    align-items: center;
    margin: 10px;
  }
  #project2 {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    height: 593px;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding-top: 50px;
    margin-bottom: 50px;
  }
  #project3 {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    height: 525px;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding-top: 50px;
  }
  #project1_blurb,
  #project2_blurb,
  #project3_blurb {
    height: 150px;
    text-align: center;
    margin-bottom: 55px;
    min-width: 550px;
  }
  .project_blurbs {
    text-align: center;
    font-size: 17px;
  }
  #golf-image,
  #bodyfat-image {
    padding: 0;
  }

  #web-scraper-image {
    margin-right: 0;
  }
}

@media screen and (max-width: 650px) {
  #bodyfat-image,
  #golf-image,
  #web-scraper-image {
    background-size: 350px 170px;
    width: 350px;
    height: 170px;
  }
  #project1_blurb {
    min-width: 350px;
    margin-bottom: 90px;
  }

  #project2_blurb {
    min-width: 350px;
    height: 270px;
  }
  #project3_blurb {
    min-width: 350px;
    height: 270px;
  }

  #project1 {
    justify-content: space-around;
    height: 450px;
  }

  #project2 {
    justify-content: space-around;
    height: 627px;
    padding: 10px;
  }
  #project3 {
    justify-content: space-around;
    height: 627px;
    padding: 10px;
  }

  #golf-weather-app,
  #bodyfat-app,
  #web-scraper-image {
    height: 200px;
  }

  #web-scraper-image {
    padding: 0;
  }
}

#contact-details {
  text-align: center;
}

input {
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  font-size: 15px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  grid-area: submit;
  transition: 0.2s;
}

input[type="submit"]:hover {
  transform: translateY(-4px);
  background-color: #027e50;
}

input[id="name"] {
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid rgb(168, 168, 168);
  grid-area: name;
  justify-self: flex-end;
}

input[id="email"] {
  padding: 12px 20px;
  border-radius: 4px;
  grid-area: email;
  justify-self: flex-start;
  border: 1px solid rgb(168, 168, 168);
}

input[id="subject"] {
  grid-area: subject;
  border: 1px solid rgb(168, 168, 168);
}

input[id="message"] {
  grid-area: message;
  border: 1px solid rgb(168, 168, 168);
}

form {
  display: grid;
  grid-template-areas:
    "name email"
    "subject subject"
    "message message"
    "submit submit";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 10px;
}

@media screen and (max-width: 1150px) {
  form {
    grid-template-areas:
      "name"
      "email"
      "subject"
      "message"
      "submit";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  input[id="name"] {
    justify-self: center;
  }
  input[id="email"] {
    justify-self: center;
  }
}

#links {
  height: auto;
  padding: 50px;
  background-color: rgb(83, 83, 83);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 40px;
}

#links i {
  padding: 0px 30px;
  transition: 0.2s;
  color: white;
}

#links i:hover {
  font-size: 45px;
}

@media screen and (max-width: 1150px) {
  h2,
  h3,
  h4 {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 20px;
  }

  .subtitle {
    font-size: 35px;
  }
  #menu {
    width: 100vw;
  }
  #skills {
    width: auto;
  }
  #about-me {
    width: 65%;
    padding: 35px 0px 0px 0px;
    font-size: 15px;
  }
}
